<section class="racas-conteiner">
    <div class="conteiner-inicial">
        <h1>Veja todas as raças de <strong>Doguinhos!</strong></h1>
            <form>
                <input type="text" placeholder="Digite o nome da raça" [(ngModel)]="termodepesquisa" name="termodepesquisa" (input)="pesquisar()">
            </form>
    </div>
    <div class="caregador" *ngIf="estacarregando">
        <div class="dog">
            <div class="dog-body">
              <div class="dog-tail">
                <div class="dog-tail">
                  <div class="dog-tail">
                    <div class="dog-tail">
                      <div class="dog-tail">
                        <div class="dog-tail">
                          <div class="dog-tail">
                            <div class="dog-tail"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="dog-torso"></div>
            <div class="dog-head">
              <div class="dog-ears">
                <div class="dog-ear"></div>
                <div class="dog-ear"></div>
              </div>
              <div class="dog-eyes">
                <div class="dog-eye"></div>
                <div class="dog-eye"></div>
              </div>
              <div class="dog-muzzle">
                <div class="dog-tongue"></div>
              </div>
            </div>
          </div>
          
          <div class="ball" tabindex="0"></div>
    </div>
    <!--
    <mat-progress-spinner class="custom-spinner" color="orange" *ngIf="estacarregando" mode="indeterminate"></mat-progress-spinner>
   -->
    <div class="conteiner" *ngIf="!estacarregando">
        <div class="racas" *ngFor="let raca of racas$ | async">
            <img [src]="raca.url" alt="">
            <div class="detalhe-raca" *ngFor="let detalhe of raca.breeds">
                <p>{{ detalhe.name }}</p>
                <button (click)="verDetalhe(raca.id)">Ver Detalhe</button>
            </div>    
        </div>
    </div>
</section>
