<section class="racas-conteiner">
    <div class="conteiner-inicial">
        <h1>Veja todas as raças de <strong>Doguinhos!</strong></h1>
            <form>
                <input type="text" placeholder="Digite o nome da raça">
            </form>
    </div>
    <div class="conteiner">
        <div class="racas" *ngFor="let raca of racas$ | async">
            <img [src]="raca.url" alt="">
            <div class="detalhe-raca" *ngFor="let detalhe of raca.breeds">
                <p>{{ detalhe.name }}</p>
                <button (click)="verDetalhe(raca.id)">Ver Detalhe</button>
            </div>    
        </div>
    </div>
</section>
