<footer>
    <div class="logo-footer">
        <img src="" alt="">
    </div>
    <div class="contato">
        <strong>Desenvolvido por:</strong>
        <p>Éleson Silva Monteiro</p>
        <div class="link">
            <a href="">zap</a>
            <a href="">insta</a>
            <a href="">linkedin</a>
        </div>
    </div>
    <div class="api">
        <strong>Api usada:</strong>
        <p>The dog api</p>
        <a href="http://" target="_blank" rel="noopener noreferrer">ver api</a>
    </div>
</footer>
