<div class="menu" (click)="abrirmenu()">
    <i class="material-icons">{{ menu ? "close" : "menu" }}</i>
</div>
<header [class.menuAberto]="menu">
    <div class="logo">
        <img src="../../../assets/imagens/logo-transparente.png" alt=""><strong>DoguinhoCurioso</strong>
    </div>
    <nav>
        <a routerLink="/" (click)="abrirmenu()">Inicio</a>
        <a routerLink="select" (click)="abrirmenu()">Raças</a>
        <a href="sobre" (click)="abrirmenu()">Sobre</a>
        <a routerLink="modal" (click)="abrirmenu()">Contato/Carregador</a>
    </nav>
</header>