header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    padding: 10px;
    gap: 25%;
    background-color: var(--cor-ternaria);
    z-index: 333;
    strong{
        color: var(--cor-secundaria);
        font-size: 18px;
    }
    nav{
        display: flex;
        gap: 20px;
        a{
            text-decoration: none;
            color: var(--cor-primaria);
            font-weight: 600;
            &:hover{
                color: var(--cor-secundaria);
            }
        }
    }
}