<div class="carregador">
  <div class="dog">
    <div class="dog-body">
      <div class="dog-cauda">
        <div class="dog-cauda">
          <div class="dog-cauda">
            <div class="dog-cauda">
              <div class="dog-cauda">
                <div class="dog-cauda">
                  <div class="dog-cauda">
                    <div class="dog-cauda"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dog-tronco"></div>
    <div class="dog-cabeca">
      <div class="dog-ouvidos">
        <div class="dog-orelha"></div>
        <div class="dog-orelha"></div>
      </div>
      <div class="dog-olhos">
        <div class="dog-olho"></div>
        <div class="dog-olho"></div>
      </div>
      <div class="dog-focinho">
        <div class="dog-lingua"></div>
      </div>
    </div>
  </div>
  <div class="bola" tabindex="0"></div>
</div>
