<section>
    <div class="logo">
        <img src="../../../../assets/imagens/logo-transparente.png" alt="">
        <h2>DoguinhoCurioso</h2>
    </div>
    <div class="sobre">
       <h3>O que é esse <span>projeto?</span></h3>
       <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur dicta soluta reiciendis ducimus illum maxime culpa? 
        Corrupti impedit eveniet tempora modi perspiciatis accusamus facilis iusto?</p> 
        <div class="contato">
            <h3>veja mais projetos</h3>
            <div class="links">
                <a href="http://" target="_blank" rel="noopener noreferrer">github</a>
                <a href="http://" target="_blank" rel="noopener noreferrer">zap</a>
                <a href="http://" target="_blank" rel="noopener noreferrer">linkedim</a>
            </div>
        </div>
    </div>
</section>
