<section class="conteiner-incial">
    <div class="img-inicial">
        <img src="../../../../assets/imagens/img-inicial.png" alt="">
    </div>
    <div class="titulo">
        <strong>Bem vindo ao</strong>
        <h1>Doguinho Curioso</h1>
        <p>conheça milhares de raças, curiosidades e muito mais sobre o mundo do seu amiguinho de quatro patas.</p>
        <div class="btn-grupo">
            <button>Guia</button>
            <button>Ver Raças</button>
        </div>
    </div>
</section>
<section class="selecao-de-amigo">
    <div class="conteiner-catdog">
        <img src="" alt="">
        <img src="" alt="">
    </div>
    <div class="conteiner-cat">
        <div class="img-cat">
            <img src="../../../../assets/imagens/gatinho-inicial.png" alt="">
        </div>
        <div class="text-api-cat">
            <p>você não tem um cachorrinho?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio totam eligendi accusantium. Possimus, perferendis eum minus tenetur ipsa consequuntur. Aliquam, similique. Officiis cumque quasi nobis?</p>
            <button>Ver os Gatinhos</button>
        </div>
    </div>
</section>
