<section class="conteiner-incial">
    <div class="img-inicial">
        <img src="../../../../assets/imagens/img-inicial.png" alt="">
    </div>
    <div class="titulo">
        <strong>Bem vindo ao</strong>
        <h1>Doguinho Curioso</h1>
        <p>conheça milhares de raças, curiosidades e muito mais sobre o mundo do seu amiguinho de quatro patas.</p>
        <div class="btn-grupo">
            <button>Guia</button>
            <button>Ver Raças</button>
        </div>
    </div>
</section>

<section class="selecao-de-amigo">
    <div class="servicos">
        <img src="../../../../assets/imagens/logo.png" alt="">
        <h3>O que Você pode ver no <strong>DoguinhoCurioso!</strong></h3>
    </div>
    <div class="conteiner-catdog"> 
        <div class="card">
            <div class="fundo">
                <img src="../../../../assets/imagens/dog-and-woman.png" alt="">
            </div>
            <strong>Saiba mais sobre o mundo do seu melhor amigo!</strong>
        </div>
        <div class="card">
            <div class="fundo">
                <img src="../../../../assets/imagens/bdogcat.png" alt="">
            </div>
            <strong>Informações sobre a Raça que você gosta</strong>
        </div>
        <div class="card">
            <div class="fundo">
                <img src="../../../../assets/imagens/cat2.png" alt="">
            </div>
            <strong>varios tipos de raças de gatos</strong>
        </div>
        <div class="card">
            <div class="fundo">
                <img src="../../../../assets/imagens/raçasdog.png" alt="">
            </div>
            <strong>varios tipos de raças de cachorro</strong>
        </div>
        <div class="card">
            <div class="fundo">
                <img src="../../../../assets/imagens/racas.png" alt="">
            </div>
            <strong>conheça raças do mundo todo!</strong>
        </div>
    </div>
    
</section>

<section class="conteiner-cat">
        <div class="img-cat">
            <img src="../../../../assets/imagens/gatinho-inicial.png" alt="">
        </div>
        <div class="text-api-cat">
            <strong>você não tem um cachorrinho?</strong>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio totam eligendi accusantium. Possimus, perferendis eum minus tenetur ipsa consequuntur. Aliquam, similique. Officiis cumque quasi nobis?</p>
            <button>Ver os Gatinhos</button>
        </div>
        
</section>