.conteiner-incial{
    width: 100%;
    min-height: 100vh;
    background-image: url(../../../../assets/imagens/bk.png);
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .img-inicial{
        display: flex;
        align-items: flex-end;
        height: 100vh;
        img{
            width: 90%;
        }
    }
    .titulo{
        display: flex;
        flex-direction: column;
        width: 45%;
        height: 350px;
       // background-color: rgba(255, 255, 255, 0.658);
        background-color: var(--cor-primaria);
        margin-right: 10%;
        padding: 20px 30px;
        border-radius: 24px;
        backdrop-filter: blur(10px);
        border: 1px solid var(--cor-ternaria);
        box-shadow: 0px 5px 8px rgba(black, 0.5);

        strong{
            color: var(--cor-ternaria);
            font-size: 24px;
        }
        h1{
            font-size: 48px;
            font-weight: 900;
            color: var(--cor-secundaria);
            line-height: 46px;
        }
        p{
            font-size: 18px;
            font-weight: 400;
            color: var(--cor-secundaria);
            width: 80%;
            margin-top: 5%;
        }
        .btn-grupo{
            display: flex;
            margin-top: 25px;
            gap: 10px;
            button{
                border: 1.5px solid var(--cor-ternaria);
                padding: 15px 25px;
                background-color: transparent;
                color: var(--cor-ternaria);
                font-size: 14px;
                font-weight: 600;
                cursor: pointer;
                border-radius: 20px;
                transition: 0.3s;
                box-shadow: 0px 2px 6px rgba(black, 0.2);

                &:hover{
                    background-color: var(--cor-ternaria);
                    color: var(--cor-primaria);
                }
            }
        }
    }
}
.selecao-de-amigo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    .servicos{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
        img{
            width: 150px;
        }
        h3{
            color: var(--cor-ternaria);
            font-size: 32px;
            strong{
                color: var(--cor-secundaria);
                font-weight: 900;
               
            }
        }
    }
    .conteiner-catdog{
        display: flex;
        width: 85%;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        gap: 25px;
        flex-wrap: wrap;
        .card{
           display: flex;
           flex-direction: column;
           gap: 20px;
           width: 200px;
           height: 300px;
           align-items: center;
           .fundo{
            width: 200px;
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            background-color: white;       
            border-radius: 8px;
            flex-direction: column;
            //box-shadow: -15px 15px var(--cor-ternaria);
            box-shadow: 0px 5px 8px rgba(black, 0.5);
               img{
                   width: 200px;
               }
           }
           strong{
            color: var(--cor-secundaria);
            text-align: center;
            font-size: 14px;
           }
        }
        .card-cat{
            width: 50%;
            background-color: var(--cor-ternaria);
            border-radius: 8px;
            //box-shadow: 15px 15px var(--cor-secundaria);
            box-shadow: 0px 7px 10px rgba(black, 0.5);
            img{
                width: 420px;
            }
        }
    }
    
}
.conteiner-cat{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    position: relative;
   
    .img-cat{
        width: 50%;
        z-index: 1;
        img{
            width: 650px;
        }
    }
    .text-api-cat{
        width: 35%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        z-index: 1;
        strong{
            color: white;
            font-size: 18px;
        }
        p{
            color: var(--cor-primaria);
        }
        button{
            margin-top: 10%;
            width: 30%;
            padding: 10px 15px;
            background-color: transparent;
            border: 1.5px solid var(--cor-secundaria);
            border-radius: 12px;
            font-size: 14px;
            font-weight: 600;
            color: var(--cor-secundaria);
            transition: 0.3s;
            cursor: pointer;
            &:hover{
                background-color: var(--cor-secundaria);
                color: var(--cor-primaria);
            }
        }
    }
    
    
}
.conteiner-dog{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    .text-api-dog{
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        .conteudo{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;
            width: 60%;
            height: 40%;
            background-color: var(--cor-secundaria);       
            border-radius: 8px;
            flex-direction: column;
            //box-shadow: -15px 15px var(--cor-ternaria);
            box-shadow: 0px 5px 8px rgba(black, 0.5);
            color: var(--cor-primaria);
            strong{
                font-size: 24px;
                margin-bottom: 8px;
            }
            p{
                letter-spacing: 0.5px;
                text-align: justify;
            }
            button{
                margin-top: 20px;
                padding: 10px 15px;
                border-radius: 8px;
                border: 1px solid white;
                background-color: transparent;
                color: white;
                font-size: 14px;
                font-weight: 600;
                transition: 0.4s;
                cursor: pointer;
                &:hover{
                    background-color: var(--cor-primaria);
                    color: var(--cor-secundaria);
                }
            }
        }
    }
    .img-dog{
        width: 40%;
        display: flex;
        align-items: center;
        img{
            width: 400px;
            z-index: 1;
        }
    }
}
.banner-final{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .banner{
        width: 75%;
        display: flex;
        justify-content: space-between;
        background-color: var(--cor-ternaria);
        height: 50%;
        border-radius: 16px;
        align-items: flex-end;
        .text-banner{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            h4{
                font-size: 38px;
                font-weight: 900;
                color: var(--cor-primaria);
                strong{
                    font-size: 42px;
                    font-weight: 900;
                    color: var(--cor-secundaria);
                }
            }
            p{
                font-size: 14px;
                letter-spacing: 0.5px;
                color: var(--cor-primaria);
            }
            button{
                padding: 10px 15px;
                border: 1px solid var(--cor-primaria);
                background-color: transparent;
                color: white;
                font-size: 16px;
                font-weight: 600;
                border-radius: 16px;
                transition: 0.3s;
                cursor: pointer;
                &:hover{
                    background-color: var(--cor-secundaria);
                    border-color: var(--cor-secundaria);
                    color: var(--cor-ternaria);
                }
            }
        }
        img{
            width: 200px;
        }
    }
}
.conteiner-cat::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--cor-ternaria);
    clip-path: polygon(0 36%,100% 10%,100% 100%,0% 100%);
   
} 

@media screen and (max-width: 600px) {
    .conteiner-incial{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 100vh;
        align-items: center;
        justify-content: center;
        .img-inicial{
            display: flex;
            
            justify-content: center;
            height: 30vh;
            img{
                position: absolute;
                bottom: 0;
                width: 70%;
            }
        }
        .titulo{
            width: 80%;
        }
    }
    .selecao-de-amigo{
        display: flex;
        align-items: center;
        .servicos{
            display: flex;
            align-items: center;
            h3{
                text-align: center;
            }
        }
        .conteiner-catdog{
            gap: 24px;
            .card{
                width: 90%;
                gap: 24px;
                .fundo{
                    width: 100%;
                    height: 100%;
                    img{
                        width: 100%;
                    }
                }
                strong{
                    font-size: 18px;
                }
            }
        }
    }
    .conteiner-cat{
        .img-cat{
            width: 34%;
            
            img{
                width: 450px;
                position: absolute;
                bottom: 0;
            }
        }
        .text-api-cat{
            padding: 12px;
            width: 80%;
            display: flex;
            align-items: flex-end;
            strong{
                font-size: 24px;
            }
            p{
                font-size: 16px;
            }
            button{
                width: 45%;
            }
        }
    }

}