<section class="conteiner-select">
    <div class="text">
        <h1>selecione qual amiguinho você deseja ver</h1>
    </div>
    <div class="select">
        <div class="friend-select">
            <a href="">
                <img src="../../../../assets/imagens/gatbanner.png" alt="">
            </a>
        </div>
        <div class="friend-select">
            <a routerLink="/select/dogs">
                <img src="../../../../assets/imagens/dogbanner.png" alt="">
            </a>
        </div>
    </div>
</section>