<div *ngIf="raca" class="conteiner-detalhes" [ngStyle]="{'background-image': 'linear-gradient(to top, #000000, transparent), url(' + raca.url + ')'}">
  <div class="nome-raca">
    <h2>{{ raca.name }}</h2>
    <p>{{raca.temperament}}</p>
    </div>  
    <div class="detalhes">
      <div class="conteiner-especifidades">
        <div class="especifidade">
          <strong>Peso</strong>
          <p>{{raca.weight.imperial}}kg</p>
        </div>
        <div class="especifidade">
          <strong>Tamanho</strong>
          <p> {{raca.weight.metric}}</p>
        </div>
        <div class="especifidade">
          <strong>Origem</strong>
          <p> {{ raca.origin }}</p>
        </div>
        <div class="especifidade">
          <strong>Códigos de país</strong>
          <p> {{ raca.country_codes }}</p>
        </div>
        <div class="especifidade">
          <strong>Descrição</strong>
          <p> {{ raca.description }}</p>
        </div>
        <div class="especifidade">
          <strong>Tempo de vida</strong>
          <p>{{raca.life_span}}</p>
        </div>
      </div>
      <div class="link-externo">
        <strong>Wikipedia URL:</strong>
        <p><a href="{{ raca.wikipedia_url }}" target="_blank">{{ raca.wikipedia_url }}</a></p>
      </div>
    </div>
  </div>